/* Tablet Layout: 768px. */
.column  {width:1060px;}
.logo {width:200px; margin-right:30px; margin-top:15px; border-right: 2px solid #ccc;}
.header_content {width:350px;margin-right:30px; margin-top:15px;}
.header_content p { margin:0; text-align:left;}
.header_right {width:400px; margin-left:30px; margin-top:15px;}
.social_share { margin-left:50px;}
.header_right i {margin-left:30px;}
.search_area { margin-left: 85px; width: 315px;}
.search_area input[type="search"] {width:264px; height: 45px; padding: 10px;}
.search_area input[type="submit"] {width:45px; height: 38px; padding: 10px; margin-top:5px;}
.mainmenu ul#nav li a {font-size:16px;  padding:10px 30px;}
nav {display:none;}
.content {width:730px; margin-right:30px;}
.sidebar {width:300px;}
.sidebar_search {width: 300px;}
.sidebar_search input[type="search"] {width: 250px;}
.sidebar_recent_post a h2, .single_related_post a h2 {width: 220px; font-size: 14px; line-height: 25px; margin:2px 2px;}
.sponsor_thum_large {width:300px; height:250px;}
.single_sponsor {margin-left:-50px;}
.sponsor_thum {width:125px; height:125px; margin-left:50px;}
.subscriber {width:300px;}
.subscriber input[type="search"] {height: 42px; padding: 10px; width: 200px;}
.subscriber input[type="submit"] {
height: 36px;
padding: 8px;
width: 90px;
}
.feature_area{ width:730px;}
.feature_left {width:475px;}
.feature_left h2{font-size:18px;}
.single_feature_area {margin-left:-15px;}
.single_feature {width:230px; margin-left:15px;}
.single_lates_post_area {margin-left:-30px;}
.single_lates_post {width:223px; margin-left:30px;}
.single_lates_post a ,.single_lates_post h2 {line-height: 25px;  font-size:16px;}
.middle_content {width:225px; padding:7px;}
.single_area {
padding:7px;
width: 200px;
}
.single_middle_content a  h2 {
font-size: 14px;
line-height: 25px;
width: 185px;
}
.single_middle_content p {font-family:'noto_sansbold'; font-size:12px; }
.single_area > h2 {
width: 185px;
font-size: 20px;
}
.footer_top_area {margin-left:-30px;}
.single_footer_top {width:333px; margin-left:30px;}
.single_recent_post a h2 {
  font-size: 14px;
  line-height: 25px;
  margin:0;
  width: 260px;
}
.single_recent_post p {margin: 0 0 10px 73px;}
.footer_search_area {width: 330px;}
.footer_search_area input[type="search"] {width:279px;}
.single_footer_top a {margin-left:16px;}
.title {margin:2px 0 5px 0;}

@media only screen and (min-width: 768px) and (max-width: 991px) {
.column {width:750px}
.logo {width:155px; margin-right:5px; margin-top:10px;}
.header_content {width:315px;margin-right:5px; margin-top:0px; margin-left:20px;}
.header_content p { margin:0; text-align:left;}
.header_right {width:240px; margin-left:5px; margin-top:0px;}
.social_share { margin-left:0px;}
.header_right i {margin-left:12px;}
.search_area { margin-left: 0px; width: 240px;}
.search_area input[type="search"] {width:189px; height: 45px; padding: 5px;}
.search_area input[type="submit"] {width:45px; height: 38px; padding: 10px; margin-top:5px;}
.mainmenu ul#nav li a {font-size:13px;  padding:10px 15px;}
nav {display:none;}
.header {margin-top:10px;}
.feature_area{ width:500px;}
.feature_left {width:335px;}
.feature_left h2{font-size:16px;}
.single_feature_area {margin-left:-10px;}
.single_feature {width:160px; margin-left:10px;}
.content {width:500px; margin-right:15px;}
.single_lates_post_area {margin-left:-15px;}
.single_lates_post a ,.single_lates_post h2 {line-height: 25px; font-size:16px;}
.single_lates_post {width:242px; margin-left:15px; min-height:380px;}
.sidebar {width:235px;}
.sidebar_search {width: 235px;}
.sidebar_search input[type="search"] {width: 186px;}
.sidebar_recent_post a h2, .single_related_post a h2 {
font-size: 12px;
line-height: 15px;
margin: 8px 2px;
width: 159px;
}
.single_sponsor {margin-left:-15px;}
.sponsor_thum_large {
height: 180px;
width: 235px;
}
.sponsor_thum {width:110px; height:110px; margin-left:15px;}
.subscriber {width:235px;}
.subscriber input[type="search"] {
height: 45px;
padding: 5px;
width: 150px;
}
.subscriber input[type="submit"] {
height: 35px;
padding: 5px;
width: 75px;
}

.middle_content {width:155px; padding:5px;}
.single_area {
padding:5px;
width: 135px;
}
.single_middle_content a  h2 {
font-size: 12px;
line-height: 15px;
margin: 0;
width: 125px
}
.single_middle_content p {font-family:'noto_sansregular'; font-size:10px; }
.single_area > h2 {
  font-size: 15px;
  width: 125px;
}
.footer_top_area {margin-left:-15px;}
.single_footer_top {width:240px; margin-left:15px;}
.single_recent_post a h2 {
  font-size: 12px;
  line-height: 15px;
  margin: 3px;
  width: 180px;
}
.single_recent_post p {margin: 0 0 10px 7px;}
.footer_search_area {width: 240px;}
.footer_search_area input[type="search"] {width: 189px;}
.single_footer_top a {margin-left:16px;}

}
/* Mobile Layout: 320px. */

@media only screen and (max-width: 767px) {

.column {width:300px}
.logo {
  margin-left: 50px;
  margin-right: 0;
  margin-top: 15px;
  width: 200px;
  border-right: 0px solid #ccc;
}
.header_content {
  margin-right: 0;
  margin-top: 15px;
  width: 300px;
}
.header_content p {font-size:12px;}
.header_right {
  margin-left: 0px;
  width: 300px;
}
.social_share {
  margin-left: 0px;
}
.header_right i {
  margin-left: 22px;
}
.search_area {
  margin-left: 0;
  width: 300px;
}
.search_area input[type="search"] {
  width: 249px;
}
 ul#nav {display:none;}
nav {display:block;}
.content {
  width: 300px;
  margin-right:0;
}
.feature_area {
  width: 300px;
}
.feature_left {
  width: 300px;
}
.single_feature {
  float: none;
  width: 300px;
}
.single_feature  img {
width:100%;
}
.middle_content {
  width: 300px;
  margin-bottom:20px;
}
.single_area {
  width: 286px;
}
.single_area > h2 {
  width: 272px;
}
.single_middle_content a h2 {
  width: 256px;
}
.title {
  margin: 2px 0 0;
}
.single_lates_post {
  width: 300px;
}
.single_footer_top {
  width: 300px;
}
.single_recent_post a h2 {
  width: 240px;
}
.single_recent_post p {
  margin: 0 0 10px;
}
.single_footer_top a {
  margin-left: 18px;
}
.subscriber {
  margin-bottom: 15px;
  width: 300px;
}
.footer_search_area {
  margin-bottom: 20px;
  width: 300px;
}
.footer_search_area input[type="search"] {
  width: 249px;
}
.footer p {
  font-size: 12px;
}

}



/* Wide Mobile Layout: 480px. */

@media only screen and (min-width: 480px) and (max-width: 767px) {

.column {width:450px}
.logo {
margin-left: 120px;
margin-right: 5px;
width: 300px;
}
.header_content {width:450px;margin-right:5px; margin-top:10px;}
.header_content p { margin:0; text-align:center;}
.header_right {width:450px;}
.social_share { margin-left:30px;}
.header_right i {margin-left:30px;}
.search_area { margin-left: 60px; width: 320px;}
.search_area input[type="search"] {width:269px; height: 45px; padding: 5px;}
.search_area input[type="submit"] {width:45px; height: 38px; margin-top:5px; padding: 10px;}
.mainmenu ul#nav li a {font-size:13px;  padding:10px 15px;}
ul#nav {display:none;}
nav {display:block;}
.header {margin-top:10px;}
.feature_area{ width:450px;}
.feature_left {width:280px;}
.feature_left h2{font-size:16px;}
.single_feature_area {margin-left:0px;}
.single_feature {width:280px; margin-left:0px;}
.content {width:450px; margin-right:0px;}
.single_lates_post_area {margin-left:-15px;}
.single_lates_post a ,.single_lates_post h2  {line-height: 20px; font-size:14px;}
.single_lates_post {width:217px; margin-left:15px; min-height:370px;}
.sidebar_search {width: 450px;}
.sidebar_search input[type="search"] {width: 398px; margin-top:5px;}
.sidebar_recent_post a h2, .single_related_post a h2 {
  font-size: 20px;
  line-height: 25px;
  width: 370px;
}
.single_sponsor {margin-left:-15px;}
.sponsor_thum_large {
height: 250px;
width: 450px;
}
.sponsor_thum {width:217px; height:160px; margin-left:15px;}
.subscriber {width:450px; margin-bottom:30px;}
.subscriber input[type="search"] {
height: 45px;
padding: 5px;
width: 320px;
}
.subscriber input[type="submit"] {
height: 35px;
padding: 5px;
width: 117px;
}

.middle_content {width:155px; padding:5px;}
.single_area {
padding:5px;
width: 135px;
}
.single_middle_content a  h2 {
font-size: 12px;
line-height: 15px;
margin: 0;
width: 125px
}
.single_middle_content p {font-family:'noto_sansregular'; font-size:10px; }
.single_area > h2 {
  font-size: 15px;
  width: 125px;
}
.title {margin:2px 0 5px 0;}
.sidebar{width:450px; float:none;}
.footer_top_area {margin-left:-15px;}
.single_footer_top {width:450px; margin-left:15px;}
.single_recent_post a h2 {
  font-size: 20px;
  line-height: 25px;
  width: 385px;
}
.single_recent_post p {margin: 5px 0 10px 0px;}
.single_footer_top a {margin-left:30px;}
.footer_search_area {width: 450px;}
.footer_search_area input[type="search"] {width: 399px;}


}


