* {margin:0; padding:0;}
body {margin:0; padding:0; font-family:'noto_sansregular'; font-size:14px; line-height:20px;}
ul,ol {margin:0; padding:0; list-style:none;}
a {text-decoration:none; color: #ED1C2E}
a:hover{text-decoration:none;}
span {color:#ED1C2E}
img {max-width:100%; }
.floatleft {float:left;}
.floatright {float:right}
.alignleft { text-align:left;}
.alignright {text-align:right;}
.aligncenter {text-align:center;}
.column { margin:0 auto; display:block; transition: all 0.9s ease 0s;-moz-transition: all 0.9s ease 0s;-webkit-transition: all 0.9s ease 0s;-o-transition: all 0.9s ease 0s;}
.column  div{overflow:hidden; }
.header  {margin-bottom:20px;}


.header_right a { text-align:right;}
.header_right i {color:#494949; font-size:30px; text-align:right; display:inline-block;}

.search_area { border: 1px solid #ddd; margin-top: 15px;}
.search_area input[type="search"] {border: medium none;color: #999999;}
.search_area input[type="submit"] { background:url(img/sub_button.png) no-repeat; border:none;color: #999999;  text-indent:9999999999999px; }
.slicknav_menu {display:none;}
.column  div.mainmenu, .column  div.mainmenu div {overflow:inherit;}
.mainmenu {min-height:42px; border-top:1px solid #000; border-bottom:1px solid #000; margin-bottom:2px; overflow:visible;}
.mainmenu ul#nav{margin:0; padding:0; list-style:none;}
.mainmenu ul#nav li {float:left; border-left:1px solid #ddd; margin:6px 0; position:relative;}
.mainmenu ul#nav li:first-child {border-left:0px solid #ddd;}
.mainmenu ul#nav li a {display:block; font-family:'noto_sansbold'; color:#000;  text-transform:uppercase; margin:-6px 0;}
.mainmenu ul#nav li a:hover {background:#ED1C2E; color:#fff;}
/*this code for dropdown menu*/
.mainmenu ul#nav li:hover ul {display:block;}
.mainmenu ul#nav li ul {background: #000; color:#fff; position:absolute; top:33px; left:0; display:none;}
.mainmenu ul#nav li ul li {float:none; width:250px; display:block; border-left:0px solid #ddd; border-bottom:1px solid #666;}
.mainmenu ul#nav li ul li:last-child { border-bottom:0px solid #666;}
.mainmenu ul#nav li ul li a { color:#fff; display:block; z-index:99999;}
.mainmenu ul#nav li ul li a:hover {background:#ED1C2E; color:#fff;}
ul.slimmenu li .sub-collapser > i { color: #fff;}

/*This code for slimemenu*/

.menu-collapser { background-color: #ed1c2e;}
ul.slimmenu li { background-color: #000; border-left:0px;}
ul.slimmenu li a { color: #fff;}
ul.slimmenu li a:hover { background-color: #ed1c2e;}
ul.slimmenu li ul li { background-color: #ED1C2E;}
ul.slimmenu li ul li a:hover { background-color: #000;}
/*End slimemenu code */
.maincontent {border-top:5px solid #000; display:block;}
.content {margin-top:15px}
.slider{}
.slider_text {position:absolute; top:5px; left:25px;}
.slider_text h2 {width:600px; background:#ED1C2E; font-family:'noto_sansbold'; color:#fff; font-size:36px; text-transform:uppercase; padding:10px;}
.slider_text p {width:670px; background:#000; font-family:'noto_sansbold'; color:#fff; font-size:14px; padding:10px;}
.title {font-family:'noto_sansbold'; color:#000; font-size:20px; text-transform:uppercase; padding:5px 0; border-top:1px solid #000; border-bottom:1px solid #000;}
.feature_area{ margin-top:25px;}
.feature_left { border-top:5px solid #000; margin-bottom:30px}
.feature_left h3{font-size:12px; margin:5px 0 0 0; text-transform:uppercase;}
.feature_left span{color:#ED1C2E}

.feature_left a {font-size:12px; text-transform:uppercase; text-align:right; color:#000; display:block;}
.single_feature_area { margin-top:20px;}

.single_feature a,.single_feature h2 {font-family:'noto_sansbold'; text-transform:none; line-height:20px; font-size:14px; color:#000; margin-top:10px; text-align:left;}
.single_feature h2:hover  {color:#ed1c2e;}
.middle_content { background:url(img/middle_bg.png) repeat scroll 0 0; display:block; }
.single_area {
background: none repeat scroll 0 0 #fff;
display: block;
margin: 0 auto;
}
.single_middle_content a  h2 {
color: #000;
font-family: 'noto_sansbold';
margin:0;

}
.single_area > h2 {
background:#ed1c2e;
color: #fff;
display: block;
font-family: "noto_sansbold";
padding: 10px 30px;
margin:0;
text-transform: uppercase;
text-align: center;
}
.single_middle_content { background:#fff; border-bottom:1px solid #999; margin-top:5px; }
.single_middle_content p { text-align:center; text-transform:uppercase; }
.single_middle_content h2{ text-align:center; }
.single_middle_content:last-child{ border-bottom:0px solid #999; }

.latest_cat_post {border-top:5px solid #000;}
.single_lates_post { float:left; margin-top:15px; border-top:5px solid #000;}
.single_lates_post img {width:100%;}
.single_lates_post p { font-size:12px; font-family:'noto_sansregular'; margin-top:10px;}
.single_lates_post h3 { font-size:12px; font-family:'noto_sansregular';}
.single_lates_post span { color:#ed1c2e}
.single_lates_post a ,.single_lates_post h2 { font-family:'noto_sansbold'; color:#000; padding:10px 0; margin:2px 0 10px 0; border-top:1px solid #000; border-bottom:1px solid #000;}
.single_lates_post  h2:hover {color:#ED1C2E; border-top:1px solid #ED1C2E; border-bottom:1px solid #ED1C2E;}
.more_link {width:200px; margin:20px 0;}
.more_link  a {display:block; font-family:'noto_sansbold'; padding:10px 15px; float:left; color:#fff; margin-right:5px; background:#000;}
.more_link  a:hover { background:#ED1C2E;}
.sidebar { margin-top:15px}
.single_sidebar {border:1px solid #999; margin-bottom:30px;}
.sidebar_search { border: 1px solid #ddd; margin-bottom:30px;}
.sidebar_recent_post {float:left;}
.sidebar_recent_post img{float:left; margin:10px;}
.sidebar_recent_post a h2, .single_related_post a h2 {
color: #000;
font-family: "noto_sansbold";

float: right;
}
.sidebar_recent_post a:hover h2 ,.single_middle_content a:hover  h2, .single_related_post a:hover  h2{color:#ED1C2E;}
.sidebar_recent_post p{ font-size:12px; margin-left:7px; font-family:'noto_sansregular'; text-transform:uppercase; float:left;}
.sidebar_search input[type="search"] { border: medium none; color: #999999; height: 42px; padding: 10px;  }
.sidebar_search  input[type="submit"] {
background: url("img/sub_button.png") no-repeat scroll 0 0 rgba(0, 0, 0, 0);
border: medium none;
color: #999999;
height: 36px;
padding: 10px;
text-indent: 1e+13px;
width: 40px;
}
.popular_post {width:50%; margin-top:0; background:#ED1C2E; text-align:center; padding:10px 9px; font-family:'noto_sansbold'; font-size:16px; color:#fff; text-transform:uppercase; float:left;}
.resent_post {width:50%; margin-top:0; background:#000; text-align:center; padding:10px 9px; font-family:'noto_sansbold'; font-size:16px; color:#fff;text-transform:uppercase; float:left; }
.single_recent_post {border-bottom:1px solid #999;margin-bottom:10px;}
.single_recent_post:last-child {border-bottom:0px solid}
.single_recent_post a h2{ float:right; font-family:'noto_sansbold'; color:#555555;}
.single_recent_post a:hover h2{ color:#ED1C2E;}
.single_recent_post img { margin-top:5px;}
.single_recent_post p {
float: left;
font-size: 12px;
text-transform: uppercase;
}
.sponsor_area {border-top:5px solid #000; margin-bottom:30px;}

.sponsor_thum { border:1px solid #999; margin-top:30px; float:left;}
.sponsor_thum  p {text-align:center; margin-top:50px;}
.sponsor_thum_large {width:300px; height:225px; margin:30px 0; border:1px solid #999;}
.sponsor_thum_large  p {text-align:center; margin-top:100px;}
.related_sidebar_post {border-top:5px solid #000;}
.single_related_post {float:left; margin:5px 0; border-bottom:1px solid #999; padding-bottom:15px; width:100%;}
.single_related_post a h2 {
color: #000;
font-family: "noto_sansbold";
font-size: 14px;
line-height: 25px;
margin: 2px;
width: 235px;
float: right;
}
.single_related_post img {
float: left;
margin: 10px 10px 0px 0;
}
.subscriber {
border: 1px solid #ddd;
margin-top: 30px;
}
.subscriber input[type="search"] { border: medium none; color: #999999;  }
.subscriber input[type="submit"] {
background: none repeat scroll 0 0 #ed1c2e;
border: medium none;
color: #999999;
height: 36px;
padding: 8px;
width: 90px;
font-family:'noto_sansbold';
color: #fff;
}
.single_recent_post span {color:#ED1C2E;}
.footer_top {}

.single_footer_top {border-top:5px solid #000;}


.footer_social_share {margin-left:-15px; margin-bottom:20px; margin-top:20px;}
.single_footer_top div.footer_social_share img {margin-bottom:10px;}
.footer_search_area {
border: 1px solid #ddd;
margin-top: 15px;
}
.footer_search_area input[type="search"] {
  border: medium none;
  color: #999999;
  height: 45px;
  padding: 10px ;
}
.footer_search_area  input[type="submit"] {
  background:url(img/sub_button.png) no-repeat;
  border:none;
  color: #999999;
  height: 38px;
  margin-top:5px;
  padding: 10px ;
  text-indent:9999999999999px;
  width: 45px;
}

.f_con {margin-bottom:20px; margin-top:20px;}
.footer {border-top:1px solid #000;}
.footer p {width:100%; padding:10px 0; display:block;}
.copyright {width:50%;}
.powerdby {width:50%;}
.powerdby  p {text-align:right}

